.App{
  min-height: 100vh;
  background-image: url(../../assets/images/bg-mobile-dark.jpg);
  background-size: 100% 230px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

[data-theme="light"] .App{
  background-image: url(../../assets/images/bg-mobile-light.jpg);
}


@media (min-width: 38em) {
  .App{
    background-size: 100% 290px;
    background-image: url(../../assets/images/bg-desktop-dark.jpg);
  }
  [data-theme="light"] .App{
    background-image: url(../../assets/images/bg-desktop-light.jpg);
  }
}
