
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 80px 0 40px;
}

.title{
  text-transform: uppercase;
  color: var(--white);
  font-size: 2rem;
  letter-spacing: 10px;
}

.theme-btn{
  padding: 7px 7px 5px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}