
.todo-input{
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 5px; 
  padding-left: 17px;
  box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.4),
              -5px -5px 80px rgba(0, 0, 0, 0.4);
}

@media (min-width: 38em) {
  .todo-input{
    width: 500px;
  } 
}

.add-btn{
  width: 25px;
  height: 24px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.todo-input input{
  width: 100%;
  padding: 24px 20px 20px;
  background: transparent;
  border: none;
  outline: none;
}

.todo-input input::placeholder{
  opacity: 1;
}
