.todo-container{
  width: 90%;
  margin-top: 20px;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
}

@media (min-width: 38em) {
  .todo-container{
    width: 500px;
  }
}

.todo{
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.todo:first-child{
  border-radius: 5px 5px 0 0;
}

.todo:last-child{
  border-radius: 0 0 5px 5px;
}

.todo-checkbox{
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 18px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: default;
}

.todo-checkbox.completed::before{
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  background-image: url(../../assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 0.3s;
}

.todo-checkbox.completed{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));  
  border: 0;
}

.todo-task{
  width: 200px;
  margin-bottom: -5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 38em) {
  .todo-task{
    width: 350px;
  }
}

.todo-checkbox.completed ~ .todo-task{
  text-decoration: line-through;
}

.remove-task-btn{
  margin: 0 0 -6px auto;
}

@media (min-width: 78em) {
  .remove-task-btn{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    cursor: pointer;
  }

  .todo:hover .remove-task-btn{
    opacity: 1;
    visibility: visible;
  }
}