.todo-container{
  max-height: 300px;
  overflow: auto;
  border-radius: 5px 5px 0 0;
  scrollbar-width: thin;
}

.todo-container::-webkit-scrollbar{
  width: 5px;
}

.todo{
  display: flex;
  align-items: center;
  padding: 16.5px 20px;
}

.todo-checkbox{
  position: relative;
  width: 25px;
  height: 25px;
  background: transparent;
  margin-right: 18px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: default;
}

.todo-checkbox.completed::before{
  content: '';
  position: absolute;
  top: 0; left: 0.5px;
  width: 100%; height: 100%;
  background-image: url(../../assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 0.3s;
}

.todo-checkbox.completed{
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));  
  border: 0;
}

.todo-task{
  width: 200px;
  margin-bottom: -5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 38em) {
  .todo-task{
    width: 350px;
  }
}

.todo-checkbox.completed ~ .todo-task{
  text-decoration: line-through;
}

.remove-task-btn{
  background: none;
  border: none;
  margin: 0 0 -4px auto;
  outline: none;
}

@media (min-width: 78em) {
  .remove-task-btn{
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
  }

  .todo:hover .remove-task-btn,
  .remove-task-btn:focus{
    opacity: 1;
  }
}