.container{
  min-height: 100vh;
  background-image: url(assets/images/bg-desktop-dark.jpg);
  background-size: 100% 300px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}

[data-theme="light"] .container{
  background-image: url(assets/images/bg-desktop-light.jpg);
}